$text-base-color: #9E9E9E;

.top-picture {
    width: 375px;
    height: 298px;
    left: 0px;
    top: 0px;

    // background: 
    // linear-gradient(0deg, rgba(43, 43, 43, 0.6),
    //  rgba(43, 43, 43, 0.6)),
    //   url(rota-alternativa-1663970-unsplash);
}

.text {
    color:#9E9E9E;
}

.form-control {
    width: 343px;
    height: 17px;
    left: 17px;
    top: 386px;
    margin: 10px;
    
    border: 1px solid white;

    border-bottom: 1px solid #9E9E9E;
}

.btn-primary {
    width: 343px;
    height: 48px;
    left: 16px;
    top: 626px;
    margin-top: 20px;
    border: 1px;

    background: #FFE600;
}

